.board-box{
    flex: 1;
    max-width: 420px;
    background-color: #FEFEFE;
    border: 1px solid rgb(24,32,34);
}

.board-box table{
    width: 100%;
    border-collapse: collapse;    
}

.board-box table th {
    background-color: aquamarine;
    text-align: center;
}

.board-box .red-font{
    background-color: transparent;    
    color: red;
    width: 130px;
}

.board-box  .price-cell {
    background-color: transparent;    
    color: red;
    width: 130px;
    animation: price-change 300ms;
}

.board-box  .quantity-cell {
    background-color: transparent;
    color: #303030;
    width: 130px;
    animation: quantity-change 300ms;
}

.board-box table th, td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 22px;    
    width: 130px;
    border: 1px solid #323232;
}

@keyframes price-change {
    0% {
        background-color: transparent;
        color: red;
    }
    50% {
        background-color: yellowgreen;
        color: yellowgreen;
    }
    100% {
        background-color: transparent;
        color: red;
    }
}

@keyframes quantity-change {
    0% {
        background-color: transparent;
        color: #303030;
    }
    50% {
        background-color: lightskyblue;
        color: lightskyblue;
    }
    100% {
        background-color: transparent;
        color: #303030;
    }
}